anyio
beautifulsoup4
dashscope
fastmcp
langchain
langchain-openai
langchain-community
langchain-mcp-adapters
langgraph
milvus-lite
mcp
neo4j
nest-asyncio
numpy
openai
pandas
pdfplumber
playwright
pydantic
pymilvus
PyYAML
redis
requests
SQLAlchemy
tqdm
typing-extensions