anyio==4.8.0
beautifulsoup4==4.12.3
dashscope==1.22.1
langchain==0.3.16
langchain-community==0.3.16
langchain-core==0.3.41
langgraph==0.2.68
milvus-lite==2.4.11
neo4j==5.27.0
nest-asyncio==1.6.0
numpy==2.2.2
openai==1.65.4
pandas==2.2.3
pdfminer.six==20231228
pdfplumber==0.11.5
playwright==1.49.1
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pymilvus==2.5.4
PyYAML==6.0.2
requests==2.32.3
SQLAlchemy==2.0.37
streamlit==1.41.1
tqdm==4.67.1